In [11]:
import pandas as pd 
import numpy as np
got=pd.read_excel("Aufgabe 4 - Der Automatron Beispiel.xlsx")
got.set_index("Index",inplace=True)
got.head()

      Serie  Staffel  Folge  Bewertung
Index
1       GoT        1      1        8.9
2       GoT        1      2        8.6
3       GoT        1      3        8.5
4       GoT        1      4        NaN
5       GoT        1      5        NaN